.category  {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;

  li {
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    padding: 10px 20px;
    background: #F9F9F9;
    border-radius: 30px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #2C2C2C;

    &:hover {
      transition: 0.5s all;
      background: rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.5);
    }

    &.active {
      transition: 0.5s all;
      background: #282828;
      color: #FFFFFF;
    }
  }
}